


  <div id="foot" class="foot noprint">
      <footer>


          <div class="links">
            <div class="container">

              <div class="row">
                <div class="col-sm-5">
                  <p><a href="https://opensource.org/licenses/MIT" target="_blank">卡尔达诺是一个开放源代码的项目</a></p>

                    <p>卡尔达诺是一个软件平台，它绝不会变成私有，也绝不会对任何区块链资产，电子货币，加密货币或相关基金进行审查。您应完全和全权对您的投资负责，根据自身需要换取卡尔达诺区块链资产。在多数情况下，基于您的研究，投资的区块链资产可能不会增值，还有可能会贬值。同样的，基于您的研究投资的区块链资产可能会增值。
                    </p>

                    <p>过去的表现并不能指示未来的结果。任何对区块链资产的投资都有部分或全部投资损失的风险。您投资的区块链资产的价值取决于市场以及其他投资风险。
                    </p>
                    <br>
                    <p><a href="https://cardanofoundation.org/project/"><small>项目</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/protocol/"><small>协议</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/foundation/"><small>基金会</small></a> &nbsp; | &nbsp; <a href="https://cardanofoundation.org/learn-more/"><small>了解更多</small></a></p>

                </div>

                <div class="col-md-6 col-sm-6 col-md-offset-1">

                  <div class="more">

                      <a href="//twitter.com/cardanostiftung" target="_blank"><em class="fa fa-twitter"></em></a>
                      <a href="mailto:info@cardanohub.org" class="" data-title="Why Cardano"><em class="fa fa-envelope"></em></a>
                      <a href="//github.com/input-output-hk/cardano-sl/" target="_blank"><em class="fa fa-github"></em></a>

                    </div>
                <div class="col-sm-6">
                  <ul class="nolist pd0 margin0">
                    <li><a href="https://cardanoexplorer.com" title="An open source block explorer for the Cardano project" target="_blank">卡尔达诺区块链浏览器</a></li>
                    <li><a href="https://cardanolaunch.com" title="Final development steps for main net launch" target="_blank">卡尔达诺 Launch</a></li>
                    <li><a href="https://cardanoroadmap.com" title="Development path of the Cardano project" target="_blank">卡尔达诺路线图</a></li>
                    <li><a href="https://github.com/input-output-hk/cardano-sl" title="Cardano SL repository" target="_blank">卡尔达诺清算层源代码</a></li>
                    <li><a href="https://cardanofoundation.org" title="Supervisory and educational body for the Cardano Protocol" target="_blank">卡尔达诺基金会</a></li>
                    <li><a href="https://cardanohub.org" title="Cardano Protocol Hub" target="_blank">卡尔达诺 Hub</a></li>
                    <li><a href="https://whycardano.com" target="_blank" title="Why we are building Cardano">为什么选择卡尔达诺</a></li>
                    <li><a href="https://www.youtube.com/channel/UCbQ9vGfezru1YRI1zDCtTGg" target="_blank">卡尔达诺 YouTube</a></li>
                    <li><a href="https://twitter.com/CardanoStiftung" title="Follow the Foundation" target="_blank">卡尔达诺 Twitter</a></li>
                  </ul>
                </div>

                <div class="col-sm-6">
                  <ul class="nolist pd0 margin0">
                    <li><a href="https://cardano.herokuapp.com" title="Join the conversation" target="_blank">卡尔达诺 Slack</a></li>
                    <li><a href="https://www.reddit.com/r/cardano/" title="Join the conversation" target="_blank">卡尔达诺 Reddit </a></li>
                    <li><a href="http://cardanohub.org" title="Community hub for the ecosystem" target="_blank">卡尔达诺 社区</a></li>
                     <li><a href="https://daedaluswallet.io" title="Open source platform" target="_blank">Daedalus 平台</a></li>
                    <li><a href="https://iohk.io" title="Development partner" target="_blank">IOHK</a></li>
                    <li><a href="https://iohk.io/blog/" target="_blank">IOHK 博客</a></li>
                    <li><a href="https://www.youtube.com/channel/UCBJ0p9aCW-W82TwNM-z3V2w" target="_blank">IOHK YouTube</a></li>
                  </ul>
                </div>

              </div>


            </div>
          </div>


          <hr />

          <div class="container">

            <div class="footer">
                    <div class="row">
                    <div class="col-sm-12 daedalus logo">



                      <div class="uppercase">

                        <a href="//iohk.io/projects/cardano/" target="_blank" class="cardano"><img src="/img/cardano-logo.svg" width="103.5" height="30" alt="Cardano" /></a>

                        <span class="split"></span>

                        <a href="//iohk.io/projects/cardano/" target="_blank" class="support">IOHK supported project</a>
                        <a href="//iohk.io/" target="_blank" class="iohk"><img src="/img/iohk-logo.svg" alt="" width="138.4" height="30" /></a>

                      </div>



                    </div>

                  </div>
                </div>


          </div>
      </footer>
  </div>

  <script type="text/javascript" src="/js/app/app.js"></script>
  <script type="text/javascript" src="/js/app/base.1.js"></script>
  <script type="text/javascript" src="/js/app/searcher.js"></script>
  <script>

  $(".navbar-side li").each(function(){
    var txt = $(this).text().trim();
    if(txt.length == 0){
      $(this).remove();
    }
  });

  </script>
  
  <script type=“text/javascript”>
    var trackcmp_email = ‘’;
    var trackcmp = document.createElement(“script”);
    trackcmp.async = true;
    trackcmp.type = ‘text/javascript’;
    trackcmp.src = ‘//trackcmp.net/visit?actid=251940219&e=‘+encodeURIComponent(trackcmp_email)+‘&r=‘+encodeURIComponent(document.referrer)+‘&u=’+encodeURIComponent(window.location.href);
    var trackcmp_s = document.getElementsByTagName(“script”);
    if (trackcmp_s.length) {
        trackcmp_s[0].parentNode.appendChild(trackcmp);
    } else {
        var trackcmp_h = document.getElementsByTagName(“head”);
        trackcmp_h.length && trackcmp_h[0].appendChild(trackcmp);
    }
  </script>